{% extends "base.html" %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">{{movie.title}}</h1>
    <p class="description">Edit Movie Rating</p>
  <p>Current rating: {{movie.rating}}</p><br>
  <form method="POST" action="{{url_for('edit', id=movie.id)}}">
      {{form.csrf_token}}
  {{ form.review.label }}{{form.review(size=20)}}<br>
        {{form.rating.label}}
        {{form.rating(size=20)}}
        {{form.submit}}
        </form>
  </div>
{% endblock %}